.App {
  display: flex;
  flex-direction: column;
  min-height: min-content;
}

.PrivateTabIndicator-root-1.PrivateTabIndicator-colorSecondary-3.MuiTabs-indicator
{
  background-color: #8f9688;
  height: 2px;
}

li
{
  list-style: none;
}

.footer
{
  padding: 3;
  margin-top: 'auto';
  background-color: #8f9688;
}

.main
{
  margin-top: 8px;
  margin-bottom: 2px;
}