.App {
  text-align: center;
}

.MuiTabs-flexContainer, .MuiTabs-fixed, .MuiTabs-scroller, .topNavBar{
  background-color: black;
}

.PrivateTabIndicator-root-1.PrivateTabIndicator-colorSecondary-3.MuiTabs-indicator
{
  background-color: #8f9688;
  height: 2px;
}

.login-menu
{ 
  box-sizing: border-box;
  position: relative;  
  flex: 0 0 65.333%;
  max-width: 65%;
}

li
{
  list-style: none;
}

.align-rigth
{  
  justify-content: flex-end !important; 
  box-sizing: border-box; 
  display: flex;
  flex-wrap: wrap; 
  padding-left: 0%;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained
{
  box-sizing: border-box;
  margin-top: 25%;
  margin-bottom: 25%;
  height: 50%;  
}

.row
{
  box-sizing: border-box;
  margin-top: 20px;
}

